.feed-bids {
  display: flex;
  width: min(100vw, 1440px);
  height: 100vh;
  margin: auto;

  background:
    radial-gradient(
      ellipse 598px 577px at 1230px 190px,
      rgba(207, 49, 172, 0.18) 0%,
      rgba(207, 49, 172, 0.10) 32%,
      rgba(207, 49, 172, 0.06) 58%,
      rgba(207, 49, 172, 0) 78%
    ),

    radial-gradient(
      ellipse 432px 428px at 160px 40px,
      rgba(116, 100, 228, 0.25) 0%,
      rgba(116, 100, 228, 0.15) 30%,
      rgba(116, 100, 228, 0.08) 58%,
      rgba(116, 100, 228, 0) 78%
    ),

    radial-gradient(
      ellipse 407px 417px at 210px 720px,
      rgba(246, 198, 86, 0.25) 0%,
      rgba(246, 198, 86, 0.16) 30%,
      rgba(246, 198, 86, 0.12) 58%,
      rgba(246, 198, 86, 0) 80%
    ),

    #e4e4e4;
}

.hambergar {
  background-color: #f1f1f1;
  background: rgba(241, 241, 241, 0.28);
  height: min(93.51vh, 1024px);
  width: 310px;
}



.side-bar-container {
  margin-top: 20px;
  width: 310px;
  height: 559px;
  padding-top: 20px;
  padding-left: 20px;

}

.top-row {
  display: flex;
  align-items: center;
}



.party-witty-logo {
  position: relative;
}

.top-side-bar-container {
  display: flex;
  align-items: center;
   padding: 20px;
}

.top-right-side-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #C5C0E5;
  border-radius: 50%;
  
}

.side-bar-contents {
  position: block;
  width: 270px;
  height: 505px;
}

.side-list {
  width: 270px;
  height: 50px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.side-image {
  margin-left: 20px;
}

.inner-list {
  margin-left: 20px;
  font-size: 18px;
  font-style: normal;
  left: 60px;
  font-family: "Lexend";
  color: #070707;

}

.middle-container {
  margin-top: 20px;
  width: 462px;
  height: 818px;
  margin-left: 107px;
  margin-right: 107px;
}

.explore-button {
  margin: auto;
  width: 162px;
  height: 44px;
  font-size: 16px;
  font-style: normal;
  font-family: "Lexend";
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center; 
  border-radius: 40px;  
  background: linear-gradient(88.44deg, #7464E4 2.91%, #1A00D2 103.54%);

  
}

.feed-image-wrapper {
  margin-top: 20px;
  position: relative;
  width: 462px;
  height: 650px;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 0px;
  background: transparent;
  z-index: 4;
}



.tag-box-one-container {
    left: 51px;
    top: 14px;
    position: absolute;
    display: flex;
    
}

.tag-box-one {
    width: 52.17px;
    height: 4px;
    left: 36px;
    top: 14px;
    background: #D9D9D9;
    z-index: 4;
    border-radius: 100px;
}

.tag-box-one-grey {
    margin-left: 9px;
    width: 52.17px;
    height: 4px;
    left: 36px;
    top: 14px;
    background: #D9D9D933;
    z-index: 4;
    border-radius: 100px;
}

.tag-box-two-container {
    left: 51px;
    top: 34px;
    position: absolute;
    display: flex;
    
}

.tag-box-two {
    width: 52.17px;
    height: 4px;
    left: 36px;
    top: 14px;
    background: #D9D9D9;
    z-index: 4;
    border-radius: 100px;
}

.tag-box-two-grey {
    margin-left: 9px;
    width: 52.17px;
    height: 4px;
    left: 36px;
    top: 14px;
    background: #D9D9D933;
    z-index: 4;
    border-radius: 100px;
}

.top-fire-logo {
  width: 13px;
  height: 13px;
  margin-right: 5px;
  display: block;
  object-fit: contain;
  margin-bottom: 2px;
}

.match-container {
  width: 107px;
  height: 21px;
  position: absolute;
  left: 20px;
  top: 51px;
  z-index: 5;
  font-family: Lexend;
  font-weight: 400;
  font-size: 9px;
  line-height: 1;
  text-transform: capitalize;
  color: white;
  backdrop-filter: blur(10px);
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.feed-image-two {
  position: absolute;
  width: 432px;
  height: 650px;
  object-fit: cover;
  left: 15px;
  top: 0;
  border-radius: 30px;
  z-index: 1;
}

.feed-image-one {
  position: absolute;
  top: 20px;
  width: 462px;
  height: 650px;
  object-fit: cover;
  border-radius: 30px;
  z-index: 2;

}

.feed-image-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  z-index: 3;
  pointer-events: none;

 background:
  linear-gradient(
    180.84deg,
    rgba(75, 22, 76, 0) 0%,
    rgba(75, 22, 76, 0) 61.81%,
    rgba(75, 22, 76, 0.5) 67.69%,
    #0D030B 88.31%
  );
}

.image-description-container {
  position: absolute;
  bottom: 30px;
  left: 15px;
  padding-left: 5px;
  color: #ffffff;
  width: 371px;
  height: 101px;
  z-index: 4;
  font-family: "Lexend";
  border-radius: 40px;
}

.top-description-container {
  width: 271px;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
}

.name-and-age-container {
  width: 152px;
  height: 30px;
  font-size: 24px;
  font-family: "Lexend";
}

.tickmark-image {
  margin-left: 10px
}

.mate-container {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  width: 90px;
  height: 36px;
  background: linear-gradient(to right, #C229C0, #FC4B6A);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px; 
}

.middle-description-container {
  font-size: 14px;
  margin-top: 8px;
}

.tag-container {
    font-size: 12px;
    width: 462px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.tag {
    border: 1px solid white;
    border-radius: 20px;
    padding: 6.5px 12px;
    margin-right: 10px;
    
}

.background-white-container {
    position: relative;
    bottom: 35px;
    width: 462px;
    height: 106px;
    background: #FFFFFF;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend';
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.25);

}

.bottom-button-one {
    padding: 12px;
    margin-right: 20px;
    border: 1px solid #4F4F4F1A;
    border-radius: 30px;
    background: #4F4F4F0D;

}

.fire-logo {
    position: relative;
    margin-right : 5px;
}

.bottom-button-two {
    color: white;
    padding: 12px 24px;
    background: linear-gradient(81.67deg, #C229C0 -0.79%, #FC4B6A 89.7%);
    margin-right: 20px;
    border-radius: 30px;
    width: 168;
    height: 48;
    opacity: 1;
    gap: 5px;
    border-radius: 9999px;
    padding-top: 14px;
    padding-right: 24px;
    padding-bottom: 14px;
    padding-left: 24px;
    display: flex;

}


.button-button-three {
  width: 48px;
  height: 48px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border: 1px solid transparent;
  border-radius: 50%;

    background:
    linear-gradient(
        135deg,
        #f3d2ef 0%,
        #fde7ea 100%
    ) padding-box,
    linear-gradient(
        135deg,
        #C229C0 0%,
        #E1339A 45%,
        #FC4B6A 100%
    ) border-box;
}

.heart-icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
  margin-left: 1px;
  margin-top: 3px;
}

.right-container {
    width:400px;
    height: min(90.95vh, 996px);
    margin-top: 29px;
    background: #FFFFFF4D;
    backdrop-filter: (50px);
    border-radius: 20px;
}

.top-right-container {
    position: relaitve;
    width: 367px;
    height: 174px;
    margin-top: 16px;
    margin-left: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile-container {
    position: inherit;
    display: block;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid transparent;

  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(81.67deg, #7464E4 -0.79%, #1A00D2 89.7%) border-box;
}

.profile-title {
    width: 192px;
    height: 24px;
    opacity: 1;
    font-family: Lexend;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
}

.profile-content {
    width: 360px;
    height: 36px;
    opacity: 1;
    font-family: Lexend;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    margin-top: 7px;
    color: #4F4F4F;
}

.middle-right-container {
    width: 367px;
    height: 397px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}


.middle-top-right-container {
    width: 122px;
    height: 24px;
    margin: 20px;
    font-family: Lexend;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;

}

.content-list {
    width: 360px;
    height: 109px;
    opacity: 1;
    font-family: Lexend;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
    margin-top: 15px;

}

.content-image {
    margin-left: 10px;
    width: 86px;
    height: 108px;
    border-radius: 18px;
}

.right-contents {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.content-details-one {
    margin-bottom: 7px;
    display: flex;
}
.content-details-two {
    margin-bottom: 7px;
    font-family: Lexend;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;


}
.content-details-three {
    margin-bottom: 7px;
    font-family: Lexend;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #4F4F4FCC;

}

.button-two {
  width: 24px;
  height: 24px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;

  font-family: Lexend;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;

  background: linear-gradient(81.67deg, #C229C0 -0.79%, #FC4B6A 89.7%);
  color: white;
  margin-right: 7px;
}

.note-content {
    position: relative;
    margin-top: 61px;
    margin-left: 20px;
    width: 360px;
    height: 152px;
    opacity: 1;
    gap: 16px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
}

.note-detail {
    font-family: Lexend;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color:  #4F4F4F;
    display: flex;
    align-items: center;
}


.note-text {
    margin-left: 10px;
}

.verify-button {
    width: 360px;
    height: 52px;
    border-radius: 9999px;
    background: linear-gradient(81.67deg, #C229C0 -0.79%, #FC4B6A 89.7%);

    font-family: Lexend;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin-left: 20px;
}

